html{
	width: 100%;
	height:100%;
}

body {
	width: 100%;
	height:100%;
	margin: 0px;
	font-family: "League Spartan"; sans-serif; 
}

li, ul{
	color:hsl(0, 0%, 100%); 
	display: inline-block;
	font-weight: bold;
	padding: 20px;
}

ul{
	position:relative;
	bottom: 4px;
}

a {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .85rem;
	color:black;
} 

h1 {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 2.5rem;
}

h3 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: .5rem;
}

p {
	color: hsl(0, 0%, 63%);
	line-height: 1.5rem;
	font-size: 1rem;
}

figure {
	margin: 0;
}

#container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 70vh 30vh;

}

.item1 {
	background-image: url(images/desktop-image-hero-1.jpg);
	background-size: cover;
	background-position: center center;
	grid-column-start: span 6;
}

.item1 >:first-child{
	margin-left: 3rem;
}

.item2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	grid-column-start: span 4;
}

.item2 >:first-child {
	width: 70%;
	margin-top: 4rem;
}

.shoplink {
	margin-top: 1rem;
}

#arrows {
	display: flex;
	width: 16.7%;
	background-color: hsl(0, 0%, 0%);
	align-self: flex-start; 
	padding: 1.5rem;
}

#arrows >:last-child{
	margin-left: auto;
}

.item3 {
	grid-column-start: span 3;
}

.item4 {
	grid-column-start: span 4;
	padding: 3rem 2rem;
}

.item5 {
	grid-column-start: span 3;
}

figure img {
	width: 100%;
	height: 100%;
}

.slide1, .slide2 {
	display: none;
}

	